<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Projeto Gym - Analise de treino</title>
  <link rel=stylesheet type=text/css href="/static/style.css">
</head>

<body background="{{ url_for('static', filename='analise2.jpg') }}">
  <div>
    <center>
      <!-- <img src="{{ url_for('static', filename = 'cardiogram.png') }}"
    width="50" height="50"> -->

      <div>
        <a class="button button6" href="{{ url_for('menu') }}">Home</a>
        {% if g.user.is_authenticated %} | <a class="button button6" href="{{ url_for('logout') }}">Logout</a> {% endif %}
        <h4 class="teste">Treino ideal:</h4>
      </div>

    <table id="customers">
    <tr>
      <th>Seu BPM</th>
      <th>Frequência cardíaca máxima</th>
      <th>Atividade moderada (50-60% FcMax)</th>
      <th>Controle de peso (60-70% FcMax)</th>
      <th>Aeróbica (70-80% FcMax)</th>
      <th>Limiar Anaeróbica (80-90% FcMax)</th>
      <th>Esforço máximo (90-100% FcMax)</th>
    </tr>
    <tr>
      <td>{{ bpm }}</td>
      <td>{{ zona_max }}</td>
      <td>Batimento mínimo: {{ atividadeModeradaMinimo }} | Batimento máximo: {{ atividadeModeradaMaximo}}</td>
      <td>Batimento mínimo: {{ controleDePesoMinimo }} | Batimento máximo: {{ controleDePesoMaximo}}</td>
      <td>Batimento mínimo: {{ aerobicaMinima }} | Batimento máximo: {{ aerobicaMaxima}}</td>
      <td>Batimento mínimo: {{ anaerobicoMinima }} | Batimento máximo: {{ anaerobicoMaxima}}</td>
      <td>Batimento mínimo: {{ esforcoMinimo }} | Batimento máximo: {{ esforcoMaximo}}</td>
    </tr>
  </table>
