<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <title>Projeto Gym - Login</title>
     <link rel=stylesheet type=text/css href="/static/style.css">
  </head>
  <body>
    <div class="logo">
    <center>
    <img src="{{ url_for('static', filename = 'cardiogram.png') }}"
    width="90" height="90">


    <script type=text/javascript
    src="{{url_for('static', filename= 'keyboard.js')}}">
    </script>
    
    <!-- Alert: wrong code inserted -->
        {% with messages = get_flashed_messages() %}
          <script type=text/javascript>
            var flaskAlert='{{ messages[0] }}';
          </script>
        {% endwith %}

  <form action="" method=post class="form-horizontal">
    <h2>Bem-vindo ao projeto Gym</h2>
    <h4>Faça seu login:</h4>
    <div class="control-group">
        <div class="controls">
        <p>Usuário: <input type="text" id="username" name="username" class="input-xlarge"
        placeholder="Digite seu usuario" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <p>Senha:  <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Digite sua senha" required>
        </div>
    </div>

     <!-- <div class="control-group">
        <div class="controls">
          <h5>Lembrar dados<input type="checkbox" id="remember_me" name="remember_me">
        </div>
    </div> -->

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Fazer login</button>
        </div>
    </div>
  </form>
