<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Projeto Gym - Página inicial</title>
  <link rel=stylesheet type=text/css href="/static/style.css">
  <!-- <style>background-image: url("static/academia.png");</style> -->
  <div style="background-image: url("static/academia.png")"></div>
  <body background="{{ url_for('static', filename='academia.png') }}">
</head>

<body>
  <div class="grid">
    <center>
      <!-- <img src="{{ url_for('static', filename = 'cardiogram.png') }}"
    width="50" height="50"> -->

      <div>
        <a href="{{ url_for('menu') }}">Home</a>
        {% if g.user.is_authenticated %} | <a href="{{ url_for('logout') }}">Logout</a> {% endif %}
        <h4>Bem-vindo, {{ user.username }}!</h4>
      </div>

    <a href="{{ url_for('treino') }}" class="button">Realizar treino</a> |
    <a href="{{ url_for('historico') }}" class="button">Histórico de treinos</a>
